version: '3.7'

services:
  node:
    container_name: ${APP_NAME}
    build:
        context: .
        dockerfile: docker/cr.dockerfile
    volumes:
        - .:/usr/src/app
    working_dir: /usr/src/app
    ports:
        - '${APP_PORT}:${APP_PORT}'
    networks:
        - cr-network

  postgis:
    image: mdillon/postgis
    container_name: postgis
    volumes:
        - postgis-data:/var/lib/postgresql
    environment:
        - POSTGRES_DB=${POSTGRES_DB}
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
        - "${POSTGRES_PORT}:5432"
    restart: on-failure
    networks:
        - cr-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    depends_on:
        - postgis
    environment:
        PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
        PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    volumes:
        - pgadmin:/root/.pgadmin
    ports:
        - "${PGADMIN_PORT}:80"
    networks:
        - cr-network

volumes:
    postgis-data:
        driver: local
    pgadmin:
        driver: local

networks:
    cr-network:
        driver: bridge